<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Eucalypto - {% block title %} {% endblock %}</title>
    
        <link rel="stylesheet" type=text/css href="{{ url_for('.static', filename='style.css') }}">
    
    </head>

    <body>
        <header>
            <div class="account-login-bar">
                {% if session['logged_in'] %}
                <form action="{{ url_for('sign_out')}}" method="post">
                    <button type="submit" name="sign_out" value="sign_out" class="btn-link">Sign Out</button>
                </form>
                
                {% else -%}
                <a href="{{ url_for('login_page') }}">Log in</a> | <a href="{{url_for('signup_page') }}">Sign Up</a>
                {% endif %}
            </div>

            <div class="page-header">
                <h1>Eucalypto</h1>
            </div>

            <nav>    
                <span><a href="{{url_for('home_page') }}">Home Page</a></span>
                <span><a href="{{url_for('species_page') }}">Species List</a></span>
                <span><a href="{{url_for('spaces_page') }}">Spaces</a></span>
            </nav>
        </header>

        <br><hr>
        {% block page_content %} {% endblock %}
        <hr>

        <footer>
            <ul>
                <li><a href="{{ url_for('home_page')}}">Home Page</a></li>
                <li>About</li>
                <li></li>
            </ul>
        </footer>
    </body>
</html>